:root {
  --main-bg-color: #D9A62E;
}

.theme, .theme li, .scroll-table::-webkit-scrollbar-thumb{
    background-color: var(--main-bg-color);
}

li:hover{
	background: #FDD876;
}

textarea{
  height: 20em;
}

.short{
  height: 3em;
}

.item{
  box-shadow: 0 0 10px 1px var(--main-bg-color);
}
